body {
    font-family:'Courier New', Courier, monospace;
    text-align: center;
}

#board {
    background-image: url("./forest.png");
}

@font-face {
    font-family: WoWfont;
    src: url(WarCraft.ttf);
}

h2 {
    font-family: WoWfont;
    color: white;
}
